body {
    background-color: beige;
    font-family: 'IBM Plex Serif', serif;
}

.home-section {
    height: 100vh;
    background-color: lightsteelblue;
}

.brand {
    font-family: 'Titan One', cursive;
}

@media (max-width: 768px) {
    .md-display {
        display: none;
    }
}

.jumbo-container {
    background-color: lightsteelblue;
    margin: 10rem auto;
    width: 60%;
}

.display-2 {
    font-family: 'Kanit', sans-serif;
}

.sign-up-btn {
    margin: 4rem 0 3rem;
}

.sign-btn {
    box-shadow: 8px;
}