body {
    background-color: beige;
}

.home-section {
    height: 100vh;
    background-color: lightsteelblue;
}

@media (max-width: 768px) {
    .md-display {
        display: none;
    }
}

.jumbo-container {
    background-color: lightsteelblue;
    margin: 10rem auto;
    width: 60%;
}

.sign-up-btn {
    margin: 4rem 0 3rem;
}