body {
    background-color: beige;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

.home-section {
    height: 100vh;
    background-color: lightsteelblue;
}

.brand {
    font-family: 'Titan One', cursive;
}

@media (max-width: 1100px) {
    .display-2 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    .md-display {
        display: none;
    }

    .display-2 {
        font-size: 3rem;
    }
}

.jumbo-container {
    background-color: lightsteelblue;
    margin: 8rem auto auto;
    width: 60%;
}

.kanit-font {
    font-family: 'Kanit', sans-serif;
}

.sign-up-btn, .download-btn {
    margin: 4rem 0 3rem;
}

.sign-btn {
    box-shadow: 8px;
}

.submit-your-own {
    background-color: lightsteelblue;
}

.card-body-works {
    background-color: lightsteelblue;
}

.card-body-favorite {
    background-color: beige;
}

.drink-img {
    max-height: 240px;
    margin: auto;
}

.map-img {
    max-width: 500px;
    max-height: 240px;
}

.page-footer {
    background-color: lightsteelblue;
    margin: auto;
}

.footer-width {
    width: 40%;
}

.break-width {
    width: 30%;
}

.color-none {
    color: inherit;
}

.color-none:hover {
    color: inherit;
}